.input-box {
    display: flex;
    flex-direction: row;
    vertical-align:middle;
    
    margin: 10px 0px 10px 20px;
}

.input-box input {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-inline: 0px;
    padding-block: 3px;
}

#name {
    width: 75%;
}

#mail {
    width: 70%;
}

#CPF {
    width: 26%;
}

.gender-radio {
    width: 12px !important;
}

#your-good-deed {
    flex-direction: column;
}

#CEP {
    width: 20%;
}

#city {
    width: 30%;
}

#neighborhood {
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button {
    height: 40px;
    width: 200px;
    margin: 10px 0px 10px 20px;
}