.input-box {
    margin: 10px 0px 10px 20px;
}

.input-box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-inline: 0px;
    padding-block: 3px;
}
#name {
    width: 70%;
}

#mail {
    width: 70%;
}

#CPF {
    width: 30%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button {
    height: 40px;
    width: 200px;
    margin: 10px 0px 10px 120px;
}